ultralytics>=8.1.0
sahi>=0.11.15
numpy>=1.24.0
scipy>=1.10.0
opencv-python>=4.8.0
pandas>=2.0.0
tqdm>=4.65.0
motmetrics>=1.4.0
filterpy>=1.4.5
lap>=0.4.0
matplotlib>=3.7.0
pytz
requests
polars
ultralytics-thop
fire
shapely
seaborn